.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 350px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: #fff;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.avatar {
  width: 300px;
  border-radius: 50%;
  border: 1px solid black;
}
.stats {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;

  list-style: none;
  background-color: lightgrey;
}
.liItem {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  padding: 12px;
  align-items: center;
  border: 1px solid black;
}
